{layout 'layout.latte'}

{block content}
    <p>Dobrý den,<br />
    v připojené přihlášce na akci <strong>{$event['name']}</strong> byla provedena změna:</p>

    <p class="details">
    Přihláška: <strong>{$registration['email']}</strong><br />
    Akce: {$msg}
    </p>

{/block}
