{layout 'layout.latte'}

{block content}
<p>Dobrý den,</p>
<p>Váš účet byl po opakovaných neúspěšných pokusech o přihlášení dočasně uzamčen.</p>
<p>Z bezpečnostních důvodů vyčkejte {$unlockAt|date:'j. n. Y H:i'}, než se znovu přihlásíte.</p>
{/block}
