{layout 'layout.latte'}

{block content}
<p>Dobrý den,</p>
<p>Záznam osoby <strong>{$person['name']}</strong> bude pro neaktivitu dne <strong>{$deactivationDate|date:'j. n. Y'}</strong> označen jako neaktivní.</p>
<p>Potřebujete-li údaje nebo vztah k oddílu zachovat, obraťte se na hlavního vedoucího.</p>
{/block}
