{layout 'layout.latte'}

{block content}
<p>Dobrý den,</p>
<p>Připomínáme pozvánku na akci <strong>{$event['name']}</strong>. Dosud jsme neobdrželi přihlášku ani omluvu.</p>
<p style="text-align: center;"><a href="{$registrationUrl}" class="button">Přihlásit se</a></p>
<p style="text-align: center;"><a href="{$excuseUrl}" class="button">Omluvit se</a></p>
{/block}
