{layout 'layout.latte'}

{block content}
    <p>Dobrý den,<br />
    děkujeme za Vaši přihlášku na akci <strong>{$event['name']}</strong>.</p>

    <p>Vaše přihláška je zařazena mezi náhradníky. Pokud se uvolní místo, budete kontaktováni vedoucím akce.</p>
    
{/block}
