{layout 'layout.latte'}

{block content}
    <p>Ahoj, <br />
    v nové přihlášce na <strong>{$event['name']}</strong> se objevila poznámka o faktuře,
    tak ti to pro jistotu posílám, kdyby to bylo relevantní.</p>

    <h3>Detaily registrace</h3>
    <p><strong>Jméno a příjmení:</strong> {$registration['firstname']} {$registration['surname']}</p>
    <p><strong>Email:</strong> {$registration['email']}</p>
    <p><strong>Poznámka:</strong> {$registration['note']}</p>

{/block}
