{layout 'layout.latte'}

{block content}
<p>Dobrý den,</p>
<p>Osoba <strong>{$person['name']}</strong> dosáhla zletilosti. Vazba zákonný zástupce a dítě nyní umožňuje pouze čtení.</p>
<p>Zletilá osoba může přístup zákonných zástupců kdykoli zcela zrušit.</p>
{/block}
