<!DOCTYPE html>
<html lang="cs">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f4f4f4;
            margin: 0;
            padding:0;
        }

        .container {
            max-width: 600px;
            background: #ffffff;
            padding: 20px;
            margin: auto;
        }

        .header {
           /* background: #007bff;
            color: #ffffff;*/
            text-align: center;
            padding: 15px;
            font-size: 20px;
            border-top-left-radius: 8px;
            border-top-right-radius: 8px;
        }

        .content {
            font-size: 16px;
            color: #333333;
            line-height: 1.5;
        }

        .details {
            background: #f9f9f9;
            padding: 15px;
            border-radius: 5px;
            margin: 20px 0;
        }

        .details p {
            margin: 5px 0;
        }

        .details p.t-15 {
            margin-top: 15px;
        }

        .responses p {
            margin: 5px 0;
        }
        .responses table {
            margin-top: 5px;
        }

        .footer {
            text-align: center;
            font-size: 14px;
            color: #666666;
            padding: 10px;
            margin-top: 20px;
            border-top: 1px solid #dddddd;
        }

        .button {
            display: inline-block;
            padding: 10px 20px;
            /*background: #007bff;
            color: #ffffff;*/
            text-decoration: none;
            border-radius: 5px;
            margin-top: 10px;
            border: solid 1px blue;
            background-color: white;
        }

        table {
            width: 100%;
            border-collapse: collapse;
            margin: 15px 0;
        }

        th, td {
            padding: 8px 8px 8px 12px;
            text-align: left;
            border: 1px solid #dddddd;
        }

        th {
            background-color: #f2f2f2;
            font-weight: bold;
        }

        tr:nth-child(even) {
            background-color: #f9f9f9;
        }

        tr:hover {
            background-color: #f1f1f1;
        }
        .text-center {
            text-align: center;
        }
        h2 {
            color: #333333;
            margin-top: 25px;
            margin-bottom: 10px;
            font-size: 22px;
            font-weight: bold;
        }
    </style>
</head>

<body>
    <div class="container">

        {ifset $title}
            <div class="header">
                <h1>{$title}</h1>
                {ifset $subtitle}
                    <p>{$subtitle}</p>
                {/ifset}
            </div>
        {/ifset}

        <div class="content">
            {block content}{/block}
        </div>

        <div class="footer">
            <p>Hezký den,<br>
                <strong>tým vedoucích DU</strong><br>
                <a href="http://dorostovaunie.cz">dorostovaunie.cz</a>{* | <a href="tel:[Phone Number]">[Phone Number]</a> *}
            </p>
        </div>
    </div>
</body>

</html>