{layout 'layout.latte'}

{block content}
    <p>Dobrý den,<br>
    bohužel jsme do data splatnosti neobdrželi platbu za přihlášku na akci <strong>{$event['name']}</strong>,
    a tak jsme museli Vaši přihlášku zrušit.
    </p>

    <p>
    Pokud jste platbu už poslali, ozvěte se nám obratem - rádi to prověříme.
    </p>

    <p>
    Díky za pochopení a třeba příště!
    </p>

{/block}
